#projects {
  background-color: #00adb5 ;
}

.projects__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180vh;
}

.project__img {
  height: 250px;
  width: auto;
  
}

.projectDiv > h3 {
  margin-bottom: 5vh;
  color: #eeeeee;
  font-size: 35px;
  margin-top: 5vh;
}

.project__header {
  text-align: center;
  padding-top: 50px ;
  color: #eeeeee;
  font-size: 35px;
  background-color: #00adb5;
  
}

.footer__slogan {
  font-style:oblique;
  font-size:10px;
  margin-left: 30%
}


@media only screen and (min-width:768px) {
  #projects {
    display: none;
  }
}